{{location}}<span class="time">{{hour}}<span {{bindAttr class="tickerClass"}}>:</span>{{minutes}}<span class='ampm'>{{ampm}}</span></span><span class="date">{{dayName}} {{month}} {{dayNumber}}</span>
