<div class="topBar">
  <div class="name">
    {{#view SC.Button target=this action="remove"}}{{/view}}{{content.name}}
  </div>
  {{view Sliders.CurrentTimeNotifierView}}
</div>
<div class="bottomBar">
  {{view Sliders.CurrentTimeSliderView}}
  {{view Sliders.RemoteTimeSliderView}}
  {{view Sliders.RulerView}}
</div>
