<div class="topBar">
  <div class="name">
    {{#view Ember.Button target=this action="remove"}}{{/view}}{{view.content.name}}
  </div>
  {{view Sliders.CurrentTimeNotifierView locationBinding="view.content.location" localClockBinding="view.content.localClock" remoteClockBinding="view.content.remoteClock"}}
</div>
<div class="bottomBar">
  {{view Sliders.CurrentTimeSliderView clockBinding="view.content.localClock"}}
  {{view Sliders.RemoteTimeSliderView clockBinding="view.content.remoteClock"}}
  {{view Sliders.RulerView timezoneBinding="view.content.timezone"}}
</div>