<!DOCTYPE html>
<html>
<head>
  <title>Timezoneslider</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,600italic' rel='stylesheet' type='text/css'>
  <!--[if !IE 7]>
  <style type="text/css">
    #wrap {display:table;height:100%}
  </style>
  <![endif]-->
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26904869-5']);
    _gaq.push(['_setDomainName', 'timezoneslider.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div id="wrap">
    <menu>
      <div class="content">
        <h1>
          <a href="/"><span>timezoneslider</span></a>
        </h1>
        <div class="header_legend"></div>
      </div>
    </menu>
    <div class="core">
      <%= yield %>
    </div>
  </div>
  <footer>
    <div class="conteiner">
      <a id="plasmiq" href="http://plasmiq.com/" target="_blank">&nbsp;</a>
      <span id="copyrights">
        &copy; 2012 TimeZoneSlider 
      </span>
      <span id="paypal">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="MCU5P6J4N5CB4">
          <button type="submit" name="submit"> 
            <span>Like this app? Donate via Paypal</span>
          </button>
        </form>
      </span>
      <span id="twitter">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://timezoneslider.com" data-text="Checkout this free time syncing web app - Timezoneslider.com" data-hashtags="tzs">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </span>
      
    </div>
    <div id="footerBg">
    </div>
  </footer>
</body>
</html>
