<!DOCTYPE html>
<html>
<head>
  <title>Timezoneslider</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
  <menu>
    <div class="content">
      <h1>
        <a href="/"><span>timezoneslider</span></a>
      </h1>
      <div class="timezoneslider_tagline"></div>
      <div class="header_legend"></div>
    </div>
  </menu>
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>
