<!DOCTYPE html>
<html>
<head>
  <title>Timezoneslider.com - free time syncing app for you and your friends</title>
  <meta name="description" content="Timezoneslider is a free time syncing web app to coordinate and visualise with your friends each other's availability." />
  <meta name="keywords" content="timezones, time, world clocks, world clock, world time, world timezones, time-zones, time management, timezone utility, timezone tool, time software, time apps, time webapp, productivity, gtd, getting shit done, getting things done, gsd, sync, time sync, web tool, web utility, collaboration tool, time visualisation, collaboration, collaboration utility, utility, saas, freeware, free apps, web app, free web app" />
  <meta name="google-site-verification" content="u9fpu6oxvp3L7hloevOxLroPg1NU4Ed216hMLo3qoqY" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,600italic' rel='stylesheet' type='text/css'>
  <!--[if !IE 7]>
  <style type="text/css">
    #wrap {display:table;height:100%}
  </style>
  <![endif]-->
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <script type="text/javascript">
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/9LPDTdrf9972uxwk8rIKg.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
  </script>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26904869-5']);
    _gaq.push(['_setDomainName', 'timezoneslider.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div id="wrap">
    <menu>
      <div class="content">
        <h1>
          <a href="/"><span>timezoneslider</span></a>
        </h1>
        <div class="header_legend"></div>
      </div>
    </menu>
    <div class="core">
      <%= yield %>
    </div>
  </div>
  <footer>
    <div class="conteiner">
      <a id="plasmiq" href="http://plasmiq.com/" target="_blank">&nbsp;</a>
      <span id="copyrights">
        &copy; 2012 TimeZoneSlider 
      </span>
      <span id="paypal">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="MCU5P6J4N5CB4">
          <button type="submit" name="submit"> 
            <span>Like this app? Donate via Paypal</span>
          </button>
        </form>
      </span>
      <span id="twitter-follow">
        <a href="https://twitter.com/timezoneslider" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @timezoneslider</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </span>
      <span id="twitter">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://timezoneslider.com" data-text="Checkout this free time syncing web app - Timezoneslider.com" data-hashtags="tzs">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </span>

      
    </div>
    <div id="footerBg">
    </div>
  </footer>
</body>
</html>
