<!DOCTYPE html>
<html>
<head>
  <title>Timezoneslider</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,600italic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26904869-5']);
    _gaq.push(['_setDomainName', 'timezoneslider.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <menu>
    <div class="content">
      <h1>
        <a href="/"><span>timezoneslider</span></a>
      </h1>
      <div class="header_legend"></div>
    </div>
  </menu>
  <div class="core">
    <%= yield %>
  </div>
  <footer>
    <div class="content">
      <div id="footer">
        <div id="copyrights">
          &copy; 2012 TimeZoneSlider 
        </div>
        <div id="paypal">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="PFAMV5YUXL7Z8">
            <button type="submit" name="submit"> 
              <span>Like this app? Donate via Paypal</span>
            </buton>
          </form>
        </div>
        <a id="plasmiq" href="http://plasmiq.com/" target="_blank"></a>
      </div>
    </div>
    <div id="footerBg">
    </div>
  </footer>
</body>
</html>
